<?xml version="1.0" encoding="utf-8" ?>

<configuration>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="AsignarDB" providerName="System.Data.SqlClient" connectionString="Server=tcp:asignar.database.windows.net,1433;Data Source=asignar.database.windows.net;Initial Catalog=AsignarDB;Persist Security Info=False;User ID=chuiguk.eu@asignar;Password=Freeway123;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=180;"/>
  </connectionStrings>
</configuration>